<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin User List</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h2>Admin - List of Users (Decrypted Data)</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email (Actual)</th>
            <th>Phone (Actual)</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
    </table>

    <p><a th:href="@{/form}">Go Back to Form</a></p>
    <p><a th:href="@{/users}">View Masked Data</a></p>
</body>
</html>
